---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("March 01 2026")}
  heroImage={AboutHeroImage}
>
  <p>
    Software engineer with several years of software development experience
    working on exciting projects. Full of energy, experience, hard work and
    enthusiasm, I look for new challenges and want to always work at the heart
    of software design and development.
  </p>

  <p>
    I have interests in technology, nature, and traveling. I see technology as a
    way of facilitating and improving communication between people and
    understand that people come before technology.
  </p>

  <p>
    If you want to get in touch, feel free to reach out to me on Twitter or
    GitHub. I am always happy to connect with other software engineers and share
    ideas and knowledge.
  </p>
</Layout>
