---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Skill {
  label: string;
  level: number; // Proficiency level from 1 to 5
}

const technicalSkills: Skill[] = [
  {
    label: "React",
    level: 5,
  },
  {
    label: "TypeScript",
    level: 5,
  },
  {
    label: "JavaScript",
    level: 5,
  },
  {
    label: "Node.js",
    level: 5,
  },
  {
    label: "Express",
    level: 5,
  },
  {
    label: "NestJS",
    level: 5,
  },
  {
    label: "Jest",
    level: 5,
  },
  {
    label: "Playwright",
    level: 5,
  },
  {
    label: "Cucumber BDD",
    level: 5,
  },
  {
    label: "Jasmine",
    level: 5,
  },
  {
    label: "GCP",
    level: 3,
  },
  {
    label: "AWS",
    level: 3,
  },
  {
    label: "Docker",
    level: 5,
  },
  {
    label: "Kubernetes",
    level: 4,
  },
  {
    label: "CircleCI",
    level: 5,
  },
  {
    label: "Harness",
    level: 3,
  },
  {
    label: "MongoDB",
    level: 3,
  },
  {
    label: "PostgreSQL",
    level: 5,
  },
  {
    label: "Supabase",
    level: 4,
  },
  {
    label: "Pocketbase",
    level: 5,
  },
  {
    label: "MySQL",
    level: 3,
  },
  {
    label: "HTML",
    level: 5,
  },
  {
    label: "CSS",
    level: 5,
  },
  {
    label: "Tailwind CSS",
    level: 5,
  },
  {
    label: "Java",
    level: 5,
  },
  {
    label: "Spring Boot",
    level: 3,
  },
  {
    label: "Splunk",
    level: 5,
  },
  {
    label: "Quantum Metrics",
    level: 3,
  },
  {
    label: "Adobe Analytics",
    level: 3,
  },
  {
    label: "Axe DevTools",
    level: 5,
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👋 Hi there!</h1>
      <p>
        Welcome to my personal website, blog, and portfolio built with Astro.
      </p>

      <p class="mt-12 text-xl font-bold">Some of my technical skills are:</p>
      <p class="text-sm italic">Highlighted skills are the most recent ones</p>
      <ul class="ml-4 mt-8 grid grid-cols-3 gap-4">
        {
          technicalSkills.map((skill: Skill) => (
            <li>
              ↠{" "}
              <span
                class={`px-2 py-1 ${skill.level >= 5 ? "bg-green-200 rounded" : ""}`}
                title={`Proficiency level: ${skill.level}/5`}
              >
                {skill.label}
              </span>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
